<div class="d-flex" style="align-items:center;">
  <h4>Products</h4>
  <div *ngIf="admin | async" class="ml-auto" routerLink="/addproduct">
    <button class="button pb-2" style="background-color:black;">
      <mat-icon class="icon mt-1 mb-0 mr-2 p-0" style="font-size: 18px; height: 20px;" fontIcon="add"></mat-icon>
        Add Product
    </button>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>
<div class="d-flex home" style="flex-wrap: wrap;">
  <app-product-card
    *ngFor="let product of products"
    productId="{{product.productId}}"
    [price]="product.price"
    productName="{{product.productName}}"
    description="{{product.description}}"
    modelYear="{{product.modelYear}}"
    image="{{product.image}}"
  >
  </app-product-card>
</div>
